.backdrop{
    overflow: hidden;
    width: 100vw;
}

.gradient {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

.poster{
    width: 22.5%;
    position: absolute;
    bottom: 18%;
    left: 15%;
    border: 1px solid rgba(112, 93, 0, 0.55);
    border-radius: 10px;
    overflow: hidden;
}

.poster > img{
    width: 100%;
}

div > h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@media screen and (width >= 1080px) {
    .backdrop {
        height: 70vh;
    }

    .poster{
        width: 15%;
    }
}