.content-container {
    width: 100vw;
    max-width: 1000px;
}

#review-container {
    width: min-content;
    display: list-item;
    justify-content: center;
    justify-items: center;
}

.review-item {
    width: 700px;
}

.checked {
    color: orange;
}

.review {
    width: 500px;
}

.header-review{
    display: flex;
    justify-content: space-between;
}

.header-review-col{
    gap: 16px;
}

.header-review-col img{
    width: 100px;
}
