.no-movies{
    display: none;
}

h4 {
    cursor: pointer;

}

h4 a {
    all: unset !important;
}

.movie-container{
    display: flex;
    margin-bottom: 16px;
    gap: 16px;

}

.poster{
    max-width: 150px;
    border-radius: 5px;
}

.body{
    max-width: 500px;
    max-height: 125px;
    overflow: auto;
}
.body::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}